[submodule "game-critique/reveal.js"]
	path = game-critique/reveal.js
	url = https://github.com/hakimel/reveal.js.git

[submodule "tactility/reveal.js"]
	path = tactility/reveal.js
	url = https://github.com/hakimel/reveal.js.git

[submodule "beloit/reveal.js"]
	path = beloit/reveal.js
	url = https://github.com/hakimel/reveal.js.git


